body{
	background-color: #d3d3d3;
	margin: 0
}

h1{
text-align: center;

}

.header-tab-bar {
	background-color: #333;

}

.header-tab-bar ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.header-tab-bar li{
	padding: 10px;
	margin-right: 10px;
	position: relative;
}

.header-tab-bar a{
	color: #fff;
	text-decoration: none;
	cursor: pointer;


}

.header-tab-bar a:hover{
	text-decoration: underline;
}


